@charset "UTF-8";
.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.inner-content {
  width: 1100px;
  margin: 0 auto; }

.header {
  width: 100%;
  background-color: #000;
  padding: 10px 0;
  position: fixed;
  z-index: 1000; }

.header-left {
  float: left; }

.dog-icon {
  color: #fff;
  font-size: 36px; }

.header-right {
  float: right;
  border: none;
  cursor: grab;
  outline: none;
  background-color: transparent; }

.ham {
  border: 1px solid #000;
  padding: 10px 15px;
  border-radius: 3px; }
  .ham span {
    border: 1px solid #fff;
    display: block;
    margin-top: 5px;
    width: 30px;
    transition: .5s; }

.ham:hover {
  background-color: #fff; }

.ham:hover span {
  border: 1px solid #000; }

.ham span:first-child {
  margin-top: 0; }

.ham:hover .open {
  border: 1px solid #000; }

.open {
  position: relative; }

.open:first-child {
  transform: rotate(-35deg);
  top: 8px; }

.open:nth-child(2) {
  width: 0;
  left: 15px;
  top: 1px; }

.open:last-child {
  transform: rotate(35deg);
  top: -5px;
  left: 0; }

.menu-list {
  display: none;
  background-color: #000;
  padding-top: 56px;
  text-align: center; }

.menu-list li {
  padding: 5px 0; }

.menu-list a {
  color: #fff;
  text-decoration: none; }

@keyframes color {
  0% {
    background-color: red; }
  50% {
    background-color: orange; }
  100% {
    background-color: pink; } }

.main-bg {
  padding-top: 61px; }

.top-content {
  padding: 20px 0;
  position: relative;
  background-color: #a21b1b;
  animation: color 5s linear infinite alternate; }

.top-content:before {
  content: "かわいいれおの写真たち";
  position: absolute;
  top: 150px;
  left: 100px;
  width: 200px;
  height: 30px;
  background-color: #f5deb3;
  border: 2px solid #f5deb3;
  transform: rotate(-10deg) skew(-10deg);
  text-align: center;
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.4);
  color: #a21b1b;
  padding-top: 10px;
  font-family: monospace; }

.top-title {
  font-size: 90px;
  text-align: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive; }

.top-sub-title {
  font-size: 20px;
  text-align: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive; }

.image-box-bg {
  background-color: #fff;
  text-align: center;
  padding: 50px 0;
  font-size: 0; }

.dog-image {
  width: 300px;
  height: 300px;
  margin: 5px 5px 0 0;
  object-fit: cover;
  opacity: .7;
  transition: .5s; }

.dog-image:hover {
  opacity: 1; }

.dog-image:nth-child(3n) {
  margin-right: 0; }

.gog-image:nth-child(-n+3) {
  margin-top: 0; }

.about-bg {
  padding: 50px 0;
  background-color: #000; }

.about-title {
  font-size: 40px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  color: #fff;
  margin-bottom: 10px; }

.about-text p {
  font-size: 16px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #fff; }

.skills-bg {
  padding: 80px 0; }

.skills-bg .inner-content {
  text-align: center; }

.skill {
  display: inline-block;
  margin-right: 60px;
  text-align: center; }

.skill:last-child {
  margin-right: 0; }

.skill-icon {
  font-size: 60px; }

.skill p {
  margin-top: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif; }

.footer {
  background-color: #000; }

.footer-item {
  padding: 25px 0; }

.rights {
  color: #fff;
  text-align: right;
  font-family: 'ZCOOL QingKe HuangYou', cursive; }
